//Colours
$primary-color: #081EDD;
$secondary-color: #FA4C06;
$bg-primary-color: #FFFFFF;
$bg-secondary-color: #F5F5F5;
$bg-tertiary-color: #000000;
$paragraph-color: #454545;

//Fonts
$primary-heading-xl: 35px;
$secondary-heading-m: 24px;

//Spacer
$spacer-xl: 5rem;
$spacer-l: 3rem;
$spacer-m: 1.5rem;
$base-space: 1rem;
$spacer-s: .5rem;